---
layout: default
---

<div class="services">
  <div class="title row">
    <div class="container">
      <h2 class="page-title">Services</h2>
    </div>
  </div>
  <div class="container">
    <div class="row filter">


    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/img/airsealing.jpg">
          <span class="card-title">Air Sealing</span>
        </div>
        <div class="card-content">
          <p>Controlling air infiltration has been shown to reduce energy consumption by as much as 35%.</p>
        </div>
        <div class="card-action">
          <a class="btn modal-trigger" href="#airsealing">Air Sealing</a>
        </div>
      </div>
    </div>
    {% include modal-air-sealing.html %}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/img/attic.jpg">
          <span class="card-title">Attic Insulation</span>
        </div>
        <div class="card-content">
          <p>50%-70% of your monthly energy use in your home is used for heating and cooling.</p>
        </div>
        <div class="card-action">
          <a class="btn modal-trigger" href="#attic">Attic Insulation</a>
        </div>
      </div>
    </div>
    {% include modal-attic.html %}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/img/ductsealing.jpg">
          <span class="card-title">Duct Sealing</span>
        </div>
        <div class="card-content">
          <p>The development of the Duct Blaster has revolutionized testing of forced air distribution systems.</p>
        </div>
        <div class="card-action">
          <a class="btn modal-trigger" href="#duct">Duct Sealing</a>
        </div>
      </div>
    </div>
    {% include modal-duct.html %}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="/img/assessment.jpg">
          <span class="card-title">Energy Assessments</span>
        </div>
        <div class="card-content">
          <p>A home Energy Assessment is the first step to assess how much energy your home is losing </p>
        </div>
        <div class="card-action">
          <a class="btn modal-trigger" href="#assessment">Energy Assessments</a>
        </div>
      </div>
    </div>
    {% include modal-assessment.html %}

  </div>
</div>

