<div id="attic" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Attic Insulation</h4>
        <h5>The key to comfort and energy savings</h5>
        <p>In today's economy of high energy cost, electric and gas bills can truly put a dent in our pocket books. It is 
        estimated that on average 50 to 70 percent of your monthly energy use in your home is used for heating 
        and cooling.
        </p>
        <p>Unless your home was built with <strong>energy efficiency</strong> measures in mind, chances are your 
        <strong>home attic insulation</strong> can be greatly improved. Increase comfort and lower energy bills are what we strive for 
        at Energy Savers &amp; Consultants. Don't let your hard-earned dollars go through the roof. Adding <strong>attic 
          insulation</strong> to your home is the number one way to add comfort and reduce energy cost!
        Energy Savers &amp; Consultants stands behind our products AND our service. We offer the best 
        certified indoor air quality and family safe <strong>fiberglass insulation and cellulose</strong> for homes available, and 
        we stand behind our installation of insulation… We have unmatched customer service and are confident 
        in delivering you exactly what you need. Our insulation installers will treat your home as if it is their own. 
        Keeping a job site in good order is a high priority for our staff and you can be assured we clean up and 
        remove all job site related debris.
        </p><div class="col-xs-12 align-center">
          <p><img src="/img/insulation.png" alt="Cellulose and fiber glass insulation"></p> 
        </div>

        <h5>How Insulation Works</h5>
        <p>You need insulation in your home to provide resistance to heat flow. The more heat flow resistance
        your insulation provides, the lower your heating and cooling costs. Heat flows naturally from a warmer 
        to a cooler space. In the winter, this heat flow moves directly from all heated living spaces to adjacent 
        unheated attics, garages, basements, and even to the outdoors. Heat flow can also move indirectly 
        through interior ceilings, walls, and floors—wherever there is a difference in temperature. During the 
        cooling season, heat flows from the outdoors to the interior of a house. To maintain comfort, the heat 
        lost in the winter must be replaced by your heating system and the heat gained in the summer must be 
        removed by your cooling system. Properly insulating your home will decrease this heat flow by providing 
        an effective resistance to the flow of heat.
        </p>
        <h5>Is your under-insulated attic costing you money?</h5>
        <p>All it takes is a quick peek to find out. If your attic floor is insulated but the wood beams (joists) are still
        visible, you probably don't have enough attic insulation. But even if you can't see your beams, that's still 
        no guarantee that you have enough insulation in your home. The best thing to do is measure.
        </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
  </div>
</div>
