<div id="assessment" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Energy Assessment</h4>
    <p><strong>A home Energy Assessment is the first step to assess how much energy your home is losing
          and to evaluate what measures you can take to make your home more energy efficient.</strong></p>
        <p>The benefits of performing an <strong>Energy Assessment</strong> and correcting problem areas are:</p>
        <ul>
          <li>Creating a more comfortable home while also consuming less energy</li>
          <li>Lowering your electric bill</li>
          <li>Saving money</li>
          <li>Preventing unnecessary wear and tear on your heating and cooling system</li>
          <li>Reducing airborne contaminants and allergens in your home</li>
        </ul>
        <p>An Energy Assessment will show us problem areas that need to be corrected. After these corrections are made you could save a significant amount of money overtime, as well as increase the comfort of your home. During the energy assessment we can pinpoint where your house is losing energy and allowing unwanted air to enter or exit. Energy Assessments also determine the efficiency of your homes heating and cooling systems. An energy assessment will also include a measurement of your current attic insulation R-Value and recommend the amount of attic insulation for your climate zone that will help you increase comfort and conserve energy in your home. 
        </p>
        <p>A professional energy assessor from Energy Savers &amp; Consultants uses a variety of techniques and equipment to determine the energy efficiency of a structure. Our energy assessments use equipment such as Blower Door, which measure the extent of leaks in the homes envelope, and Duct Blaster which reveal hard-to-detect areas of air loss in your heating and cooling system.
        </p>
        <p>Energy Savers &amp; Consultants can perform a basic home energy conservation assessment to pinpoint areas of your home that need to be addressed to reduce energy cost. We then log the information we find from the energy assessment to present to the home owner. From that point Energy Savers &amp; Consultants can repair and add measures to help conserve electricity or the home owner can use the energy assessment to implement the repairs on their own.
        </p>
        <p>The Energy Assessment preformed by Energy Savers &amp; Consultants will consist of an Air Infiltration Test and Duct Integrity Test. These two tests will allow Energy Savers &amp; Consultants to find leaks in your homes envelope along with the heating and cooling system to locate energy loss.
        </p>
        <p>Energy Savers &amp; Consultants can perform a full Energy Assessment on your home and repair all issues or single issues depending on your budget and current efficiency rating.
        Sign Up or Contact Energy Savers &amp; Consultants today to request an Energy Assessment so we can start the process of finding and eliminating problem areas throughout your home.
        </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
  </div>
</div>
