<div id="airsealing" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Air Sealing (Air Leak Testing & Sealing)</h4>
    <p>Controlling air infiltration in homes is certainly an important consideration, as it has been shown to reduce energy consumption by as much as 35% while reducing the potential for moisture, dust, noise, and pollution entry into the home.
        </p>
        <p>Air leakage or infiltration occurs when outside air enters a house uncontrollably through cracks and openings. Properly <strong>Air Sealing</strong> such cracks and openings in your home can significantly reduce heating and cooling costs, improve homes durability, and create a healthier indoor environment. Moldy and dusty air can enter a leaky house through such areas as attics or foundations. This air in the house could cause health problems.
        </p>
        <div class="align-center">
          <p><img src="img/airsealing.jpg" alt="Cellulose and fiber glass insulation"></p> 
        </div>
        <p>The recommended strategy in both new and old homes is to reduce air leakage as much as possible. Air sealing is one of the most significant energy efficiency improvements you can make to your home. <strong>Air sealing</strong> will not just reduce energy costs; it will also improve your homes comfort and durability.
        </p> 
        <p>After air infiltration tests have been performed Energy Savers &amp; Consultants will be able to find unwanted drafts and leaks throughout your home and know the proper places to seal and repair. Energy Savers &amp; Consultants can then <strong><em>WEATHERIZE</em></strong> your home to eliminate unwanted air from entering or exiting your home.
        </p>
        <p>Sign Up or Contact Energy Savers &amp; Consultants today @ 501-492-6604 to schedule your home for air infiltration testing and repair.
        </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
  </div>
</div>
