<div id="duct" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Duct Sealing (Duct Leak Testing & Sealing)</h4>
    <p>
          The development of the Duct Blaster has revolutionized performance testing of forced air 
          distribution systems for builders and HVAC contractors. The Duct Blaster is a calibrated air flow 
          measurement system designed to test and document the air tightness of forced air duct systems 
          in both houses and light commercial buildings. The Duct Blaster fan is connected directly to 
          the duct system in a house, typically at a central return, or at the air handler cabinet. With the 
          remaining registers and grilles temporarily taped off, duct air tightness is measured by either 
          pressurizing or depressurizing the duct system and precisely measuring the fan flow and duct 
          pressure.
        </p>
        <p>Duct air tightness measurements are used to diagnose and demonstrate leakage problems,
          estimate efficiency losses from duct leakage, and certify compliance with duct leakage 
          standards.
        </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect btn">Close</a>
  </div>
</div>
