<nav class="navbar">
  <div class="container">
    <div class="nav-wrapper">
      <a href="{{site.baseurl}}/" class="brand-logo right"><img src="/img/logo-shadow.png" alt=""></a>
      <a href="#" data-activates="mobile" class="button-collapse"><i class="fa fa-align-right"></i></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
